common --registry="https://raw.githubusercontent.com/dejwk/roo-registry/main/" --registry="https://bcr.bazel.build"

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
# GCC 14 can emit spurious maybe-uninitialized warnings in std::regex with ASAN.
build:asan --per_file_copt=src/logging.cc@-Wno-maybe-uninitialized
